apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: churn-prediction
data:
  prometheus.yml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-service:9090
        isDefault: true
        editable: true
        jsonData:
          timeInterval: "5s"
          queryTimeout: "60s"
          httpMethod: POST
        version: 1